.user-name{
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #000;
}
.profile-identifier{
}
/**{
    -fx-font-size: 16px;
}*/
.smallButton{
    -fx-pref-width: 50px;
    -fx-pref-height: 35px;
    -fx-font-size: 9px;
}